
body {
  background: radial-gradient(black,rgb(0, 0, 0));
 
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
   animation: fadeIn 1 1s ease-out;
   overflow-x: hidden;
 
}

:root {
  color-scheme: dark;
}

/* width */
::-webkit-scrollbar {
  width: 4px
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navbar-brand{
  color: white;
  font-family: 'Work Sans';
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 140px;
}

.navbar{
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 1;
  min-height: 90px;
  color: white;
}

.navbar-nav .nav-link{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  top: 0;
  max-width: 100%;
  z-index: 1;
  justify-content: flex-end;
}

.navbar-nav .nav-link {
  float: right;
  font-family: 'Work Sans';
  margin-right: 30px;
  color: white;
}

.nav-item li a{
  display: block;
  color: white;
  text-align: center;
  padding: 40px 30px 0px;
  text-decoration: none;
  font-family: 'Work Sans';
  font-size: 18px;
  font-weight: bold;
}


/* underline hover effect start in middle going to left and right */
li a::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

li a:hover::after{
  width: 100%;
  transition: width .3s;
}



.upper p{
  color: white;
  font-family: 'Work Sans';
  font-size: 30px;
  margin-top: 160px;
  margin-left: 45px;
  margin-bottom: 0px;
  padding: 0;
  line-height: 50px;
  
}

.name h1{
  padding: 0;
  color: white;
  font-family: 'Work Sans';
  font-weight: bolder;
  font-size: 130px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  line-height: 130px;
}

.me img{
  clear: both;
  float: right;
  max-width: 27%;
  margin-top: -40px;
  margin-right: 0px;
  border-radius: 500px;

}
.program h2{
  color: white;
  font-family: 'Work Sans';
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.lower p{
  color: white;
  font-family: 'Work Sans';
  font-size: 19px;
  margin-left: 20px;
  margin-top: 13px;
}

.education {
  position: relative;
  height: 100vh;
}

.header h1{
  text-align: center;
  padding-top: 400px;
  color: white;
  font-family: 'Work Sans';
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 50px;

}


.mapua img{
  float: left;
  margin-left: 0px;
  max-width: 52%;
  padding-bottom: 20px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.mapua2 h2{
  color:  rgb(153, 7, 7);
  font-family: 'Work Sans';
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px;
  margin-left: 56%;
}

.mapua2 p{
  color: white;
  font-family: 'Work Sans';
  font-size: 17px;
  text-align: left;
  margin-left: 56%;
}

strong{
  color: rgb(215, 198, 9);
}

.middle { 
  position: absolute;
  top: 740px;
  left: 27%;
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.mapua:hover img {
  opacity: 0.3;
}

.mapua:hover .middle {
  opacity: 1;
}

.text {
  background-color: white;
  color: white;
  font-size: 16px;
  padding: 16px 30px;
}

.text a{
  text-decoration: none;
  color: black;
  font-family: 'Work Sans';
}

/* certificate */

.certificate h1{
  text-align: center;
  padding-top: 300px;
  color: white;
  font-family: 'Work Sans';
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 5px;
}


.see{
  float: right;
}
.see a{ /* put in right side after certificate h1*/
 text-align: right;
  color: white;
  font-family: 'Work Sans';
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 15px;
  text-decoration: none;

}

.bi-arrow-right-circle {
  color: white;
}

.row{
  clear: both;
}
.col img{
  max-width: 100%;
  padding-top: 10%;
}





@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

.light {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.x1{
-webkit-animation: floatUp 4s infinite linear;
-moz-animation: floatUp 4s infinite linear;
-o-animation: floatUp 4s infinite linear;
animation: floatUp 4s infinite linear;
 -webkit-transform: scale(1.0);
 -moz-transform: scale(1.0);
 -o-transform: scale(1.0);
transform: scale(1.0);
}

.x2{
-webkit-animation: floatUp 7s infinite linear;
-moz-animation: floatUp 7s infinite linear;
-o-animation: floatUp 7s infinite linear;
animation: floatUp 7s infinite linear;
-webkit-transform: scale(1.6);
-moz-transform: scale(1.6);
-o-transform: scale(1.6);
transform: scale(1.6);
left: 15%;
}

.x3{
-webkit-animation: floatUp 2.5s infinite linear;
-moz-animation: floatUp 2.5s infinite linear;
-o-animation: floatUp 2.5s infinite linear;
animation: floatUp 2.5s infinite linear;
-webkit-transform: scale(.5);
-moz-transform: scale(.5);
-o-transform: scale(.5);
transform: scale(.5);
left: -15%;
}

.x4{
-webkit-animation: floatUp 4.5s infinite linear;
-moz-animation: floatUp 4.5s infinite linear;
-o-animation: floatUp 4.5s infinite linear;
animation: floatUp 4.5s infinite linear;
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-o-transform: scale(1.2);
transform: scale(1.2);
left: -34%;
}

.x5{
-webkit-animation: floatUp 8s infinite linear;
-moz-animation: floatUp 8s infinite linear;
-o-animation: floatUp 8s infinite linear;
animation: floatUp 8s infinite linear;
-webkit-transform: scale(2.2);
-moz-transform: scale(2.2);
-o-transform: scale(2.2);
transform: scale(2.2);
left: -57%;
}

.x6{
-webkit-animation: floatUp 3s infinite linear;
-moz-animation: floatUp 3s infinite linear;
-o-animation: floatUp 3s infinite linear;
animation: floatUp 3s infinite linear;
-webkit-transform: scale(.8);
-moz-transform: scale(.8);
-o-transform: scale(.8);
transform: scale(.8);
left: -81%;
}

.x7{
-webkit-animation: floatUp 5.3s infinite linear;
-moz-animation: floatUp 5.3s infinite linear;
-o-animation: floatUp 5.3s infinite linear;
animation: floatUp 5.3s infinite linear;
-webkit-transform: scale(3.2);
-moz-transform: scale(3.2);
-o-transform: scale(3.2);
transform: scale(3.2);
left: 37%;
}

.x8{
-webkit-animation: floatUp 4.7s infinite linear;
-moz-animation: floatUp 4.7s infinite linear;
-o-animation: floatUp 4.7s infinite linear;
animation: floatUp 4.7s infinite linear;
-webkit-transform: scale(1.7);
-moz-transform: scale(1.7);
-o-transform: scale(1.7);
transform: scale(1.7);
left: 62%;
}

.x9{
-webkit-animation: floatUp 4.1s infinite linear;
-moz-animation: floatUp 4.1s infinite linear;
-o-animation: floatUp 4.1s infinite linear;
animation: floatUp 4.1s infinite linear;
-webkit-transform: scale(0.9);
-moz-transform: scale(0.9);
-o-transform: scale(0.9);
transform: scale(0.9);
left: 85%;
}

button:focus{
outline: none;
}

@-webkit-keyframes floatUp{
0%{top: 100vh; opacity: 0;}
25%{opacity: 1;}
50%{top: 0vh; opacity: .8;}
75%{opacity: 1;}
100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
0%{top: 100vh; opacity: 0;}
25%{opacity: 1;}
50%{top: 0vh; opacity: .8;}
75%{opacity: 1;}
100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
0%{top: 100vh; opacity: 0;}
25%{opacity: 1;}
50%{top: 0vh; opacity: .8;}
75%{opacity: 1;}
100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
0%{top: 100vh; opacity: 0;}
25%{opacity: 1;}
50%{top: 0vh; opacity: .8;}
75%{opacity: 1;}
100%{top: -100vh; opacity: 0;}
}

/* TYPING EFFECT */

@keyframes typing {
  0.0000%  { content: " "; }
  2.1395% { content: " "; }
  4.2791% { content: " "; }
  6.4186% { content: " "; }
  8.5581% { content: " "; }
  10.1395% { content: "J"; }
  12.2791% { content: "Ji"; }
  14.4186%  { content: "Jie"; }
  16.5581% { content: "Jied"; }
  18.6977% { content: "Jied C "; }
  20.8372% { content: "Jied Ca"; }
  22.9767% { content: "Jied Cas"; }
  24.1163% { content: "Jied Cast"; }
  26.2558% { content: "Jied Casti"; }
  28.3953% { content: "Jied Castil"; }
  30.5349% { content: "Jied Castill"; }
  32.6744% { content: "Jied Castillo"; }
  100% { content: "Jied Castillo"; }



}
@keyframes blink {
  0%  { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
  
}

.typewriter::before {
  content: "";
  animation: typing 9s forwards;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

/* END OF TYPING EFFECT */

/*ARROW EFFECT*/

.scroll-down2 {
  position: absolute;
  left: 50%;
  bottom: 65px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
}


.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}






